body{
  background-color: #1F1F1F;
  color: #41909F
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#checkout{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  padding: 1em;
  font-size: 2em;
  background-color: hwb(0 12% 88%);
  border: 3px solid #41909F;
  border-radius: 2em;
  color: #41909F;
  margin:2em;
  outline: none;
}
.button{
  width: 50%;
  border-radius: 10px;
  background-color: #41909F;
  border: 0px solid red;
  font-size: 2em;
}
.button:hover{
  background-color: red
}

#calculator{
  margin-top: 10px;
  color: #41909F;
  font-size: 5em;

}
/*
#container>div{
  width: 20em;
  height: 20em;
  border: 1px solid red;;
}
#container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 200em;
} */

.input:hover{
  border: 3px solid red;

}